/* staatliches-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/sf_pro_400.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/sf_pro_500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* unbounded-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/unbounded-v7-latin-500.eot'); /* IE9 Compat Modes */
  src: url('../fonts/unbounded-v7-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/unbounded-v7-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  url('../fonts/unbounded-v7-latin-500.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
  url('../fonts/unbounded-v7-latin-500.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  url('../fonts/unbounded-v7-latin-500.svg#Unbounded') format('svg'); /* Legacy iOS */
}
/* unbounded-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/unbounded-v7-latin-600.eot'); /* IE9 Compat Modes */
  src: url('../fonts/unbounded-v7-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/unbounded-v7-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  url('../fonts/unbounded-v7-latin-600.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
  url('../fonts/unbounded-v7-latin-600.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  url('../fonts/unbounded-v7-latin-600.svg#Unbounded') format('svg'); /* Legacy iOS */
}

body {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../img/bg_main@1x.jpg");
  font-family: "SF Pro Display", sans-serif;
  color: white;
}

.thank-you-page {
  background-position: bottom right;
  background-attachment: fixed;
  background-image: url("../img/bg_thank_you@1x.jpg");
}

.gradient-text {
  background: -webkit-linear-gradient(#B68300, #FFE49C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-button {
  background: radial-gradient(50% 50% at 50% 50%, #B68300 0%, #ECBF47 100%);
}

.font-staatliches {
  font-family: 'Staatliches', sans-serif;
}

.telegram-radial {
  background-image: radial-gradient(#1F6588, #279FDB);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  body {
    background-image: url("../img/bg_main@2x.jpg");
  }

  .thank-you-page {
    background-image: url("../img/bg_thank_you@2x.jpg");
  }
}

@media only screen and (max-width: 1024px) {
  body {
    background-image: none;
  }

  .thank-you-page {
    background-image: url("../img/bg_thank_you_mobile@1x.jpg");
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  @media only screen and (max-width: 1024px) {
    .thank-you-page {
      background-image: url("../img/bg_thank_you_mobile@2x.jpg");
    }
  }
}
